---
layout: default
---

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script type="text/javascript" src="https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js?v1.3.0"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>


<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h3 class="post-title">
      {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
    </h3>
    <div>
      <span id="date" style="color: rgb(53, 52, 52); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"></span>.
    </div>

    <script>
      const dateElement = document.getElementById('date');
      const today = new Date();
      const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
      dateElement.textContent = today.toLocaleDateString('en-US', options);
    </script>
    
    <div>
      <span style="color: rgb(57, 56, 56); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">  </span>
      <span id="weather-text" style="color: rgb(65, 64, 64); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"></span>
      <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Beijing Weather Icon</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
      <style>
        #weather-icon i {
          color: grey;
        }
      </style>
    </head>
    <body>
      <div id="weather-icon"></div>
        
        </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
          $(document).ready(function () {
            const apiKey = '916a98b48a576641bb870cfd458d045f';
            const city = 'Beijing';
            const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric`;

            fetch(url)
              .then((response) => response.json())
              .then((data) => {
                const weatherCode = data.weather[0].id;
                const iconClass = `wi wi-owm-${weatherCode}`;
                $('#weather-icon').addClass(iconClass);
              })
              .catch((error) => console.error('Error fetching weather data:', error));
          });
        </script>

        
        <script>
          const textElement = document.getElementById('weather-text');
          const apiKey = '916a98b48a576641bb870cfd458d045f';
          const city = 'Beijing';
          const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric`;

          fetch(url)
            .then(response => response.json())
            .then(data => {
              const temperature = (data.main.temp).toFixed(1);
              const fahrenheit = ((temperature * 9/5) + 32).toFixed(1);
              const description = data.weather[0].description;
              textElement.textContent = `@${city} ${temperature}°C / ${fahrenheit}°F, ${description}.`;
            })
            .catch(error => {
              console.error('Error fetching weather data:', error);
              textElement.textContent = 'Unable to fetch weather data.';
            });
        </script>



        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
